#! /usr/bin/python
from flask import Flask
{% for import in service.imports %}
{{ import }}
{% endfor %}

{% include service.name + ".py.j2" %}

app = Flask(__name__)
# Adds the class that was rendered by the other Jinja template as the endpoint of Flask
app.add_url_rule('{{ service.flask.route_app }}', view_func=endpoint().run, methods={{ service.flask.methods }})
if __name__ == '__main__':
    app.run(port='{{ service.flask.port }}')